<h1>Books</h1>
<table>
    <thead>
    	<tr>
        	<th>Title</th>
        	<th>Body</th>
        </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
      <tr>
    	<td>
    		<span><%= book.title %></span>
    	</td>
    	<td>
    		<span><%= book.body %></span>
    	</td>
    	<td>
    		<%=link_to "Show", "/books/#{book.id}" %>
        </td>
        <td>
    		<%= link_to "Edit", "/books/#{book.id}/edit" %>
        </td>
        <td>
    		<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    	</td>
      </tr>
    </tbody>
    <% end %>
</table>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<%= f.label :title, "Title" %><br>
<%= f.text_field :title %><br>
<%= f.label :body, "Body" %><br>
<%= f.text_area :body %><br>
<%= f.submit 'Create Book' %>
<% end %>

